.contentWrapper {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-right: 15px;
}

.column:last-child {
    flex: 2;
    padding-left: 15px;
}

@media screen and (max-width: 576px) {
    .row {
        display: block;
    }

    .column {
        padding: 15px 0;
    }
}
