@import 'https://cdn-web-assets.array.io/webcom-creditlock-1b/facts-steps.4735e127e353a812d005c7b7db7d38f8.css';

.answer {
    opacity: 0;
    max-height: 0;
    transition: max-height 500ms ease-in-out, opacity 300ms ease-in-out 300ms;
}

.answer.show {
    opacity: 1;
    max-height: 99em;
}

@media screen and (min-width: 577px) {
    .facts-steps {
        margin-top: 0 !important;
    }
}
